<button type="button" class="jdm-loading-container jdm-loading-indicator-button" ng-disabled="loadingIndicatorButton.checkDisabled()" ng-class="loadingIndicatorButton.wrapperClasses()"> 
    <span class="jdm-loading-indicator-button__wrapper">
        <span class="jdm-loading jdm-loading--button" ng-if="loadingIndicatorButton.isLoading || loadingIndicatorButton.indicator.requests.length"> 
            <i class="jdm-loading__spinner jdm-loading__spinner--button"></i>
        </span>
        
        <span class="jdm-loading-indicator-button__content" ng-transclude></span>
    </span>
</button>